/* This is the sass file for puzzle front */

/* table of contents
    * variables
      * colors
      * fonts
    * base
    * layout
    * module
    * state

*/

/* variables */
/* colors */
$color-main: #333333;
$color-background: #999999;
$color-content-background: #FFFFFF;
$color-text: #FFFFFF;
$color-action: #FF7E2D;
$color-action-highlight: #FF9A5B;

/* fonts */
/* import google fonts */
@import url('https://fonts.googleapis.com/css?family=Carter+One|Montserrat&display=swap');
$font-h: 'Carter One', cursive;
$font-base: 'Montserrat', sans-serif;
/* base */


body {
  background-color: $color-background;
  font-family: $font-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-h;
}

header, footer {
  background-color: $color-main;
  color: $color-text;
}

.main-content {
  background-color: $color-content-background;
}

/* layout - layout is mostly handled by bootstrap.
I have kept the section in case I need any layout
related fixes or tweaks */

/* modules */

.btn-main {
  background-color: $color-action;
  color: $color-text;
}

/* state */

.btn-main:hover {
  background-color: $color-action-highlight;
  color: $color-text;
}

.btn-main:active {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid $color-action;
  color: $color-action;
}
